.exhibition-body {
  width: 100%;
}

/* .exhibition-image-wrapper {
} */

.focused-image-wrapper {
  height: 348px;
}
.focused-image {
  /* max-height: 348px; */
  width: 348px;
  position: relative;
  left: 30px;
}

.exhibition-slide-show-wrapper {
  display: flex;
  flex-direction: row;
  gap: 6px;
  align-items: center;
}

.slide-show-directional {
  font-size: larger;
}

.slide-show-directional:hover {
  cursor: pointer;
}

.exhibition-slide-show {
  display: flex;
  flex-direction: row;
  gap: 12px;
  
  width: 348px;
  
  overflow-x: scroll;
  
  margin: 24px 12px 12px 12px;

  background-color: #fcfcfcf6;
}

.exhibition-slide-show-thumbnail-wrapper {
  border: 6px solid rgb(217, 216, 219);
  height: 100px;
}

.exhibition-slide-show-thumbnail {
  height: 100px;
  box-shadow: 2px 1px 2px #888888;
}
